h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #5fdf8d;
    font-size: 60px;
    margin-top: 30px;
}

.subtitle {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.gif {
    display:block;
    margin: 0 auto;
    width: 500px;
    height: auto;

}

